@model CrudCliente.Models.Cliente

@{
    ViewData["Title"] = "Delete";
}

<h1>Remoção de Clientes</h1>
<hr/>


<div>
    <h4>Remover Cliente</h4>
    <hr />
    <dl class="col">

        <div class="row">
            <dt class = "col-2">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class = "col-10">
                @Html.DisplayFor(model => model.Nome)
            </dd>
        </div>

        <div class="row">
            <dt class = "col-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class = "col">
                @Html.DisplayFor(model => model.Email)
            </dd>
        </div>
        
        <div class="row">
            <dt class = "col-2">
                @Html.DisplayNameFor(model => model.Endereco)
            </dt>
            <dd class = "col">
                @Html.DisplayFor(model => model.Endereco)
            </dd>
        </div>

        <div class="row">
            <dt class = "col-2">
                @Html.DisplayNameFor(model => model.Contato)
            </dt>
            <dd class = "col-10">
                @Html.DisplayFor(model => model.Contato)
            </dd>
        </div>

        
    </dl>
    
    <form asp-action="Delete" class="grid gap-3 row">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger p-2 w-25" /> 
        <a asp-action="Index" class="btn btn-outline-primary p-2 g-col-3 w-25">Voltar</a>
    </form>
</div>
