@model CrudCliente.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1 class="mb-3">Detalhes do Cliente</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="col">
        <div class="row">
            <dt class="col-sm-1">
                @Html.DisplayNameFor(model => model.Nome):
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nome)
            </dd>
        </div>
        <div class="row">
            <dt class = "col-sm-1">
                @Html.DisplayNameFor(model => model.Email):
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
        </div>
        <div class="row">
            <dt class = "col-sm-1">
                @Html.DisplayNameFor(model => model.Endereco):
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Endereco)
            </dd>
        </div>
        <div class="row">
            <dt class = "col-sm-1">
                @Html.DisplayNameFor(model => model.Contato):
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Contato)
            </dd>
        </div>
    </dl>
</div>
<div class="grid gap-3 row">
    <a asp-action="Edit" asp-route-id="@Model?.ID" class="btn btn-primary p-2 g-col-3 w-25">Editar</a> 
    <a asp-action="Index" class="btn btn-outline-primary p-2 g-col-3 w-25">Voltar</a>
</div>
