@model IEnumerable<CrudCliente.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}
<div class="d-flex flex-wrap flex-row align-items-center gap-3">
    
    <h1 class="">Lista de Clientes </h1>
        <a asp-action="Create" class="btn btn-outline-dark">Inserir Cliente</a>

</div>

<table class="table" id="table-client">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contato)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contato)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">
                        <img class="index-icon" src="https://www.svgrepo.com/show/522527/edit-3.svg" alt="icon">
                </a> |
                <a asp-action="Details" asp-route-id="@item.ID">
                        <img class="index-icon" src="https://www.svgrepo.com/show/433410/details-so.svg" alt="icon">
                </a> |
                <a asp-action="Delete" asp-route-id="@item.ID">
                        <img class="index-icon" src="https://www.svgrepo.com/show/433400/delete-o.svg" alt="icon">
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
